.rectangle {
  position: absolute;
  width: 40rem;
  height: 63rem;
  left: 90rem;
  top: 0px;
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.09);
}

.ingreso-texto {
  position: absolute;
  width: 57rem;
  height: 48px;
  left: 20rem;
  top: 12rem;

  font-family: var(--fuentePrincipal);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  
  line-height: 150%;
  border: 0;
  outline: none;
  color: var(--colorSecundario);
  background: var(--colorPrimario);
}

.ingreso-texto::placeholder {
  color: var(--colorSecundario);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
  position: absolute;
  width: 32rem;
  height: 1.8rem;
  left: 20.5rem;
  top: 50rem;
  padding: 0px;
}

.icono-exclamacion {
  width: 16px;
  height: 16px;
}

