/* DIV - RECTANGULO BLANCO */

.seccion__lateral {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 40rem;
  height: 63rem;
  left: 90rem;
  top: 0px;
  background: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.09);
}

/* INPUT - INGRESO DE TEXTO */

.ingreso-texto {
  position: absolute;
  left: 20rem;
  top: 12rem;

  font-family: var(--fuentePrincipal);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  
  line-height: 150%;
  border: 0;
  outline: none;
  resize: none;
  color: var(--colorSecundario);
  background: var(--colorPrimario);
}

.ingreso-texto::placeholder {
  color: var(--colorSecundario);
}

/* DIV, IMG - INFORMACION  */

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
  position: absolute;
  width: 32rem;
  height: 1.8rem;
  left: 20.5rem;
  top: 48.5rem;
  padding: 0px;
}

.icono-exclamacion {
  width: 16px;
  height: 16px;
}

/* INPUT - ESTILOS PARA BOTONES DE ENCRIPTACION Y DESENCRIPTACION */

.btn-en-de {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.4rem;
  padding: 0px;
  position: absolute;
  width: 68rem;
  height: 6.7rem;
  left: 20rem;
  top: 51.9rem;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar {
  width: 32rem;
  height: 6.7rem;
  flex-grow: 0;
  flex: none;
  border-radius: 2.4rem;
  font-size: 2rem;
  transition: background 1.3s, color .5s, border 1.2s;
}

.btn-encriptar:hover, .btn-desencriptar:hover, .btn-copiar:hover {
  cursor: pointer;
}

.btn-encriptar {
  order: 0;
  border: 0px;
  color: var(--colorTerciario);
  background: var(--colorSecundario);
}

.btn-encriptar:hover {
  background: var(--colorCuaternario);
  border: 1px solid var(--colorSecundario);
  color: var(--colorSecundario);
}

.btn-desencriptar, .btn-copiar {
  order: 1;
  border: 1px solid var(--colorSecundario);
  color: var(--colorSecundario);
  background: var(--colorCuaternario);
}

.btn-desencriptar:hover, .btn-copiar:hover {
  background: var(--colorSecundario);
  border: 0px;
  color: var(--colorCuaternario);
}

.btn-encriptar:active, .btn-desencriptar:active, .btn-copiar:active {
  transform: scale(.95);
}

/* SVG - ESTILOS PARA LA IMAGEN DEL MUÑECO */

.munheco {
  position: absolute;
  width: 33.6rem;
  height: 30.4rem;
  left: 32px;
  top: 143px;
}

.enunciado {
  height: 12.2rem;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 5px;
  top: 45rem;
}

.enunciado p {
  margin: 10px 30px;
}

.mensaje-primero {
  height: 5.8rem;
  order: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  text-align: center;

  color: var(--colorGris1);
}

.mensaje-segundo {
  height: 4.8rem;

  order: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  color: var(--colorGris2);
}

/* SVG - LOGO - NO REQUIERE ESTILOS */

/* TEXTAREA - TEXTO DESENCRIPTADO */

.txtarea-mensaje {
  position: absolute;
  margin-top: 20px;
  resize: none;
  outline: none; 
  border: 1px;
  font-family: var(--fuentePrincipal);
  font-style: normal;
  font-size: 24px;
  font-weight: 400;

  line-height: 150%;
  color: var(--colorGris2);
}

.btn-copiar {
  position: relative;
  top: 51.9rem;
}